# IntelliJ
.idea/
*.iml

# Values files
*.values.yml

# Scratch files
scratch*/

# Secrets
*-secret.yaml

# Builds - recreate as required
builds/
# Kernels - recreate as required
kernels/
# Helm - pull as required
helm/
# teleport
teleport/cluster-values.yaml
